{% extends "base.html" %}

<!-- Include Bootstrap CSS and JS in your template -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% block title %} AiData   {% endblock %}
{% block head %} Multimodal Sentiment Detection {% endblock %}
{% block content %}
<div class = 'container'>
    <form  action="/" method="post">
          {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.text_input.label }}
          {{ form.text_input(placeholder="Enter text") }}
       </div>
       <div class = 'container'>
        {{ form.submit_button() }}
        
       </div>
      </form>
</div>

<!-- The modal dialog for login failure -->
<div class="modal fade" id="loginFailedModal">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Login Failed</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <p>Sorry, please make sure you are part of the multimodal sentiment detection project.</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>
{% if login_failed %}
        <!-- Show the modal when login fails -->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                $('#loginFailedModal').modal('show');
            });
        </script>
{% endif %}

{% endblock %}